<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1> <a href="/"> {{title}} </a> </h1>
    </header>
    {{{body}}}
    <footer>
      <p> Made with &hearts; at Ironhack. </p>
      <img src="https://i.giphy.com/media/EvNfyRC5HMVzi/giphy.webp" alt="batman">
    </footer>
    <script src='/javascripts/script.js' />
  </body>
</html>
